{{#if loggedIn}}
    <p>You are already logged in!</p>
{{else}}
    <form class="form-inline" {{action login on="submit"}}>
        <h2>Log In</h2>
        {{input id='username' value=username type="text" placeholder="Username"}}
        {{input id='password' value=password type="password" placeholder="Password"}}
        {{input id='loginSubmit' class="btn" type="submit" value="Log In"}}
    </form>
    {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
    {{/if}}
{{/if}}