{{#if loggedIn}}
    <p>You are already logged in!</p>
{{else}}
<div class="login-form">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form  {{action login on="submit"}}>
          {{input id='username' class='fadeUpColor' name='user' value=username type="text" placeholder="Username"}}
          {{input id='password' class='fadeUpColor' value=password type="password" placeholder="Password"}}
          {{input id='loginSubmit' class="btn btn-info btn-block login" type="submit" value="Log In"}}
      </form>
    </div>
  </div>
</div>
    {{#if errorMessage}}
        <div class="alert alert-danger">{{errorMessage}}</div>
    {{/if}}
{{/if}}

